* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #444647;
}

.main {
  width: 60%;
  margin: 50px auto;
  padding: 5px;
  background-color: #5f6468;
  color: white;
  border-radius: 10px 10px;
  box-shadow: 5px 5px 5px 3px #596063;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(116, 124, 124);
  padding: 10px 1px;
  font-size: large;
}

.score {
  width: 40%;
}

.recentScore {
  border: 1px solid rgb(44, 43, 43);
  border-radius: 15px;
}

.scoreList {
  padding: 10px 10px;
  list-style-position: inside;
}

.scoreList > li:nth-of-type(odd) {
  background-color: #6b7177;
}

.form {
  display: flex;
  flex-direction: column;
  width: auto;
}

.formItem {
  margin: 5px;
  height: 25px;
}

button {
  width: 50%;
  margin-right: 0;
  align-self: flex-end;
  cursor: pointer;
  height: 25px;
  background-color: #98a1a7;
  border: none;
}

.scoreHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
}

.scoreHeader > button {
  width: 30%;
}

#name {
  margin-bottom: 20px;
}
